@page "/fitnesslist"

<h3>Fitness Content List</h3>

<button @onclick="PopulateArray">Populate List</button>

@foreach (string item in displayedItems)
{
    <p>@item</p>
}

<input type="number" min="0" max="5" value="5" @oninput="UpdateDisplayedItems" />

@code {
    private string[] allItems = new string[5] {"Push-ups", "Squats", "Lunges", "Plank", "Jumping Jacks"};
    private string[] displayedItems = new string[5];
    private int numDisplayedItems = 5;

    private void PopulateArray()
    {
        allItems.CopyTo(displayedItems, 0);
        numDisplayedItems = allItems.Length;
    }

    private void UpdateDisplayedItems(ChangeEventArgs e)
    {
        int numItems = int.Parse(e.Value.ToString());
        if (numItems >= 0 && numItems <= 5)
        {
            numDisplayedItems = numItems;
        }
        displayedItems = allItems[..numDisplayedItems];
    }
}
